<header>
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion" >
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" href="/">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Trang chủ
                    </a>
                    <div class="sb-sidenav-menu-heading">Interface</div>
                    <a class="nav-link" href="/course">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Quản lý khóa học
                    </a>
                    <a class="nav-link collapsed" href="/class">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Quản lý lớp học
                    </a>
                    <a class="nav-link collapsed" href="/student">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Quản lý học viên
                    </a>
                    <a class="nav-link collapsed" href="/employee">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Quản lý nhân viên
                    </a>
                    <div class="sb-sidenav-menu-heading">Addons</div>
                    <a class="nav-link" href="/payments">
                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                        Biên lai
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                Start Bootstrap
            </div>
        </nav>
    </div>
</header>